<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% messages.forEach(message => { %>
    <p>User: <%= message.user %></p>
    <p>Text: <%= message.text %></p>
    <p>Date: <%= message.added %></p>
    <br />
    <% }) %>

    <a href="/new">Submit new form</a>
  </body>
</html>
